#button{
	
	
	display: block;
	font-size: 16px;
	height: 35px;
	margin: 0 auto;
	width: 350px;

}


#data_form{

	
	border: solid pink;
	display: inline-block;
	height: 300px;
	margin: 20px 0 0 20px;
	width: 200px;
}


#form_content{

	border: solid gray;
	margin: 0 auto;
	height: 750px;
	width: 800px;
}

#form_content button{

	/*border: solid red;*/
	display: block;
	height: 35px;
	margin: 70px auto;
	width: 400px;
}

header{
	border: solid red;
	margin: 0 auto;
	height: 50px;
	width: 800px;
}

#form_content figure{

	border: solid blue;
	display: inline-block;
	margin: 0;
	height: 80px;
	vertical-align: top;
	width: 80px;

}

#questions{
	border: solid green;
	display: inline-block;
	vertical-align: top;
	margin: 20px 0 0 30px;
	height: 450px;
	width: 500px;
}

#questions_tables{

	border-collapse:separate;
	border-spacing:5px 10px;

}

.td_questions{
	background: #A4A4A4;
	border-radius: 3px;
	color: white;
	padding: 3px;

}

.tr_answers{

	
}

#survey_message{

	border: solid orange;
	display: inline-block;
	height: 80px;
	vertical-align: top;
	width: 600px;

}